// #cat-listing
.main-title {
  padding: 20px;
  text-align: center;
}

.left-wrapper {
  background: #f4f4f4;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  margin: 0 0px 20px 20px;
}

@media only screen and (max-width: 767px) {
  .left-wrapper {
    border: none;
    margin: 0 0 20px 0;
  }
}

#filter {
  padding: 10px 20px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  input {
    padding: 8px;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
  }
}

#filter:after {
  content: "";
  display: block;
  clear: both;
}

#cat-listing {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      text-decoration: none;
      color: inherit;
      padding: 10px 20px;
      display: block;
      border-bottom: 1px solid #d4d4d4;

      .cat-image {
        img {
          width: 30%;
          height: 30%;
          display: inline-block;
        }
      }
    }
    a:hover, a.active {
      color: #fff;
      background: #80c7b5;
    }
  }
}

.alert {
  margin: 20px;
}
