<div class="row">
  <div class="col-xs-12">
    <h2 class="main-title">Cat List</h2>
  </div>
  <!-- end-of-header -->
  <div class="col-xs-12 col-sm-3">
    <div class="left-wrapper">
      <form action="" id="filter">
        <label for="filter-contact">Filter cats by name: </label>
        <input type="text" name="filter-contact" [(ngModel)]="term" placeholder="e.g: Oscar">
      </form>

      <ul id="cat-listing">
        <li *ngFor="let cat of cats | filter:term">
          <a href="#" (click)="onSelect($event, cat)">
            <div class="cat-details">
              <span class="cat-image">
                  <img src="{{cat.thumbnailUrl}}" alt="" class="img-rounded">
              </span>
              <span class="cat-name">
                <strong>{{cat.name}}</strong>
              </span>
              <div class="cat-birthdate">{{cat.birthdate}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- end-of-left-wrapper -->
  </div>
  <!-- end-of-left-col -->
  <div class="col-xs-12 col-sm-9">
    <div *ngIf="cats.length > 0">
      <app-cat-details [cat]="selectedCat" (removeEvent)="onRemoveEvent($event)" (updateEvent)="onUpdateEvent($event)"></app-cat-details>
    </div>
  </div>
  <!-- end-of-right-col -->
  <div class="col-xs-12">
      <div *ngIf="showError === true || cats.length === 0" class="alert alert-danger">
        <strong>Error!</strong> Sorry no more data found to be displayed!
      </div>
    </div>
    <!-- end-of-error-message -->
</div>
<!-- end-of-row -->
