
<div class="cat-card" *ngIf="cat !== undefined || cat !== null">
  <div class="hidden">{{cat.id}}</div>
  <div class="cat-detail cat-image">
    <img src="{{cat.thumbnailUrl}}" alt="{{cat.name}}" class="img-responsive img-thumbnail">
  </div>
  <div class="cat-detail cat-name">
    <strong>Name: </strong>{{cat.name}}
  </div>
  <div class="cat-detail cat-birthdate">
    <strong>Birthdate: </strong>{{cat.birthdate}}
  </div>
  <div class="cat-detail cat-owner">
    <strong>owner name(s): </strong>
    <!-- <ul name="cat-ownername">
          <li *ngFor="let owner of cat.ownername" value="{{owner}}">{{owner}}</li>
      </ul> -->
    {{cat.ownername}}
  </div>
  <div class="cat-detail cat-views-count">
    <strong>Number of views: </strong>{{cat.viewsCount}}
  </div>
  <div class="actions">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">Edit</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
  </div>
</div>

<!-- Modals -->
<!-- Edit Modal -->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit: {{cat.name}}</h4>
      </div>
      <div class="modal-body">
        <form *ngIf="cat" (submit)="onEditFormSubmit($event)" id="editForm">
          <input type="hidden" class="form-control" id="cat-id" value="{{cat.id}}">
          <div class="form-group">
            <label for="cat-thumbnail">Thumbnail URL:</label>
            <input type="text" class="form-control" id="cat-thumbnail" placeholder="ex: https://www.pexels.com/search/cat/">
          </div>
          <div class="form-group">
            <label for="cat-name">Cat Name:</label>
            <input type="text" class="form-control" id="cat-name" placeholder="ex: {{cat.name}}">
          </div>
          <div class="form-group">
            <label for="cat-birthdate">Cat birthdate:</label>
            <input type="date" class="form-control" id="cat-birthdate" placeholder="ex: {{cat.birthdate}}">
          </div>
          <div class="form-group">
            <label for="cat-ownername">Cat ownername:</label>
            <input type="text" class="form-control" id="cat-ownername" placeholder="ex: {{cat.ownername[0]}}">
            <!-- <select name="cat-ownername">
              <option *ngFor="let owner of cat.ownername" value="{{owner}}">{{owner}}</option>
            </select> -->
          </div>

          <button type="submit" class="btn btn-success" onclick="$('#editModal').modal('hide');">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Delete: {{cat.name}}</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "{{cat.name}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onConfirmDelete(cat.id)">Confirm</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>
