.cat-card {
  margin: 0 20px 20px 0;
  padding: 0;
  .cat-detail {
    margin-bottom: 10px;
  }
  .cat-image {
    max-width: 80%;
    img {
      height: 80%;
      width: 80%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cat-card {
    padding: 20px;
    margin: 0;
  }
}
