/* You can add global styles to this file, and also import other style files */
@import url("assets/css/bootstrap.min.css");

// reset
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Roboto, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.1em;
  color: #666;
  background: #eee;
  padding: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-top: 0;
  color: #333333;
}

// css loader
.simple-loader {
  position: absolute;
  top: 45%;
  left: 45%;
  display: inline-block;
  margin: 1em;
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 100%;
  border-top-color: #e91e63;
  border-bottom-color: #80c7b5;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: simple-loader 0.35s linear infinite;
}

@keyframes simple-loader {
  to {
    transform: rotate(180deg);
  }
}

a, button, input {
  transition: all 0.6s;
}
